@model SpecialRequestFormModel
@{
    ViewData["Title"] = "Edit special request";
}

<h1 class="h3 mb-4">Edit special request</h1>

<partial name="_RequestForm" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
